<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='index')">
</head>
<body>
	<div class=" topnav">
		<h1>
			<img style="width: 32px;" src="/images/catering.png">MyCatering
		</h1>
		<a sec:authorize="!isAuthenticated()" href="/home"
			th:text="#{header.home}">Home</a> <a
			sec:authorize="hasAuthority('DEFAULT')" href="/home"
			th:text="#{header.home}">Home</a> <a sec:authorize="hasRole('USER')"
			href="/home" th:text="#{header.home}">Home</a> <a
			sec:authorize="hasAuthority('ADMIN')" href="/admin/home"
			th:text="#{header.home}">Home</a> <a href="/chefAll"
			th:text="#{header.chefAll}">Chef</a> <a href="/buffetAll"
			th:text="#{header.buffetAll}">Buffet</a> <a href="/piatti"
			th:text="#{header.piatti}">Piatti</a> <a href="/ingredienti"
			th:text="#{header.ingredienti}">Chef</a> <a class="logout"
			th:href="@{/logout}">Logout</a>
	</div>
	<section class="sezioneContenuto">

		<!--  	<header th:replace="fragments/base.html :: intestazione">
	</header> -->

		<h4>Tutto quello che cerchi...</h4>
		<h4>...preparato con cura e attenzione</h4>

		<!--  <section class= "sectionLogin"></section>-->


		<h4>Login</h4>

		<form class="container " th:action="@{/login}" method="POST">
			<div class="row">
				<div class="col"></div>
				<div class="col-lg-4 col-sm-8 ">
					<div>Username:</div>


					<div class="visually-hidden"></div>
					<input name="username" type="text" class="form-control"
						id="username" placeholder="username">


					<div>Password:</div>


					<div class="visually-hidden"></div>
					<input name="password" type="password" class="form-control"
						id="password" placeholder="password">

					<div>
						<button class="btn btn-outline-warning" type="submit">
							<img style="width: 25px; margin-right: 10px"
								src="/images/login.png">Login
						</button>

					</div>

					<div>
						<a class="btn btn-outline-danger" th:href="@{/register}"> <img
							style="width: 25px; margin-right: 10px"
							src="/images/registrazione.png">Registrati
						</a>
					</div>
					<a class="btn btn-outline-success" style="margin-top: 10px"
						href="/oauth2/authorization/google"> <img
						style="width: 25px; margin-right: 10px" src="/images/google.jpg">
						Login With Google
					</a>
				</div>
				<div class="col"></div>
			</div>


		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</body>
</html>
